%h1 Create New Course

= form_tag course_path do

  = label :course, :title, 'Course Name'
  = text_field :course, 'title'

  = label :course, :description, 'Course Description'
  = text_field :course, 'description'

  = submit_tag 'Create Course'
